<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>{{ page.title }}</title>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bulma/0.7.5/css/bulma.min.css">
  <link rel="stylesheet" href="{{ "/css/style.css" | relative_url }}">
  <link rel="stylesheet" href="{{ "/css/syntax.css" | relative_url }}">
  <link rel="stylesheet" href="{{ "/css/syntax-drracket.css" | relative_url }}">
  <script defer src="https://use.fontawesome.com/releases/v5.3.1/js/all.js"></script>
  {% if page.mathjax %}
  <script src="https://polyfill.io/v3/polyfill.min.js?features=es6"></script>
  <script id="MathJax-script" async src="https://cdn.jsdelivr.net/npm/mathjax@3/es5/tex-mml-chtml.js"></script>
  {% endif %}
  {% if page.editor %}
  <script src="{{ "/js/unicode-editor.js" | relative_url }}"></script>
  {% endif %}
  {% if page.tikzjax %}
  <link rel="stylesheet" type="text/css" href="http://tikzjax.com/v1/fonts.css">
  <script src="http://tikzjax.com/v1/tikzjax.js"></script>
  {% endif %}
</head>
